# Server Configuration
PORT=3001

# PostgreSQL Database Connection
DB_USER=your_db_user
DB_HOST=localhost
DB_DATABASE=your_db_name
DB_PASSWORD=hog4MrofE.rK97@9
DB_PORT=5432

# NetHunt CRM API
NETHUNT_API_KEY=your_nethunt_api_key
NETHUNT_EMAIL=your_nethunt_email 